
<div class="row">

    <div class="col">
        <div class="row">

            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Foes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @foreach (var foe in Foes)
                                {<div>
                                    <span style="background-color: @(@foe.Elite ? "plum" : "white")">
                                            @foe.ToString()
                                    </span>
                                    </div>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

                <img src="@ImgSrc" alt="@ImgName" hidden="@HideImage" />
            </div>
        </div>

    </div>

    <div class="col-9 pt-2">
        <button class="btn btn-outline-primary" @onclick="GetAnswer" hidden="@_hideAnswerButton">Get Answer</button>
        <textarea id="TextAreaResults" class="resultsarea" readonly="readonly" @bind="_result" hidden="@_hideResult"></textarea>
    </div>
</div>


@code {
    public List<Foe> Foes = new List<Foe>();
    private string _result;
    private bool _hideAnswerButton = true;
    private bool _hideResult = true;

    // used for test boards
    public bool HideImage = true;
    public string ImgSrc;
    public string ImgName;

    public void Clear()
    {
        Foes.Clear();
        _result = "";
        _hideAnswerButton = true;
        _hideResult = true;
        HideImage = true;
    }

    private void GetAnswer()
    {
        _result = BoardReader.Read(Foes);

        _hideAnswerButton = true;
        _hideResult = false;
    }

    public void Refresh()
    {
        _hideAnswerButton = false;
        _hideResult = true;
        StateHasChanged();
    }
}
